@use './partials/variables' as *;


body{
    font-family: $font;
    background-image: url('./assets/img/bg-pm.webp');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    max-width: 100%;
    cursor: url('https://freesvg.org/img/Pokeball.png'), auto;
    cursor: url('https: //freesvg.org/img/Pokeball.png');
}